body{
    background-color: rgb(91.8%, 88.6%, 71.8%);
    display: grid;
    grid-template-rows: autos;
    grid-template-columns: 8.5% 26.6% 1.5% 26.6% 1.5% 26.6% 8.5%;
    grid-template-areas: "header header header header header header header"
                            ". title title title title title ."
                            ". pillar1 . pillar2 . pillar3 .";
    
}
header{
    background: linear-gradient(to bottom, orange 96%, red 4%);
    grid-area: header;
    height: 85px;
    margin-bottom: 50px;
    
}
.card1{
    background-color: white;
    grid-area: title;
    margin-bottom: 50px;
}
.pillar1{
    background-color: white;
    grid-area: pillar1;
}
.pillar2{
    background-color: white;
    grid-area: pillar2;
}
.pillar3{
    background-color: white;
    grid-area: pillar3;
}
.nav{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0;
    margin-top: 33.5px;
    text-align: center;
}
.name{
    float: left;
    width: 300px;
    margin: 0;
    margin-top: 33.5px;
}
li{
    padding: 0;
    margin: 0;
    border: none;
}
.mainimg{
    width: 551px;
    height: 437px;
    text-align: center;
    float: left;
}
.introtext{
    text-align: center;
    width: 300px;
    margin-right: 0px;
    float: left;
}