*{
   text-decoration: none; 
}
body{
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(194,188,152,255);
    background-size: cover;
    width: fit-content;
    z-index: 1;
    position: relative;
    color: #ffffff;
    margin: 0;
    display: grid;
    grid-template-rows: autos;
    grid-template-columns:  1.25fr 3fr 0.16fr 1fr 0.33fr 0.6fr 0.33fr 1fr 0.16fr 3fr 1.25fr;
    grid-template-areas: "header header header header header header header header header header header"
                            ". title title title title title title title title title ."
                            ". text text text text text text text text text ."
                            ". classcard1 classcard1 classcard1 classcard1 classcard1 classcard1 classcard1 classcard1 classcard1 . "
                            ". pillar1 . pillar2 pillar2 pillar2 pillar2 pillar2 . pillar3 ."
                            ". questions questions questions questions . instagram instagram instagram instagram . "
                            ". . . . signup signup signup . . . .";
}
header{
    background: linear-gradient(to bottom, rgba(247,127,0,255) 95.5%, rgba(214,40,40,255) 4.5%);
    min-width: 100%;
    width: fit-content;
    grid-area: header;
    height: 90px;
    margin-bottom: 50px;
    color: #ffffff;
    box-shadow: 0px 0px 7px  black;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.header, img{
    height: 85.95px;
    width: 100.95px;
    float: left;
}
.card1{
    background-color: white;
    grid-area: title;
    margin-bottom: 50px;
    color: rgb(0, 48, 73);
    box-shadow: 0px 4px 9px -4px black;
}
.card2{
    background-color: white;
    grid-area: text;
    margin-bottom: 50px;
    color: rgb(0, 48, 73);
    box-shadow: 0px 4px 9px -4px black;
}
.pillar1{
    background-color: white;
    grid-area: pillar1;
    box-shadow: 0px 4px 9px -4px black;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(0, 48, 73);
}
.pillar1img{
    width: 80%;
    height: 42%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.pillar1, h3{
    font-family: 'Prata', serif;
    font-size: 20px;
    padding: 0;
}
.pillar1, p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
}
.pillar2{
    background-color: white;
    grid-area: pillar2;
    box-shadow: 0px 4px 9px -4px black;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(0, 48, 73);
}
.pillar2img{
    height: 39.5%;
    width: 85%;
    margin: 0;
    padding: 0;
    margin-right: 7.5%;
    margin-left: 7.5%;
    margin-top: 20%;
}
.pillar2, h3{
    font-family: 'Prata', serif;
    font-size: 20px;
    padding: 0;
    margin-top: 0;
}
.pillar2, p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
}
.pillar3{
    background-color: white;
    grid-area: pillar3;
    box-shadow: 0px 4px 9px -4px black;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(0, 48, 73);
}
.pillar3img{
    width: 80%;
    height: 42%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.pillar3, h3{
    font-family: 'Prata', serif;
    font-size: 20px;
    padding: 0;
}
.pillar3, p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
}
.nav{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    margin: 0;
    margin-top: 26px;
    text-align: center;
    justify-content: right;
    width: 40%;
    float: right;
    margin-right: 10px;
}
.name{
    float: left;
    width: 350px;
    margin: 0;
    margin-top: 18px;
    font-family: 'Prata', serif;
    font-size: 36px;
    margin-left: 17px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.425);
    font-weight: normal;
    padding: 0;
    color: #ffffff;
}
li{
    padding: 0;
    margin: 0;
    width: 130px;
    border: none;
    font-family: 'Prata', serif;
    font-size: 24px;
    text-decoration: none;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.425);
}
li, a{
    color: #ffffff;
}
.mainimg{
    width: 551px;
    height: 437px;
    text-align: center;
    float: right;
    margin: 0;
}
.introtext{
    text-align: center;
    margin-top:45.8905px;
    margin-left: 15%;
    float: left;
    font-family: 'Prata', serif;
}
.introtext, h1{
    font-size: 48px;
    font-weight: lighter;
    margin-top: 45px;
}
.introtext, h2{
    font-size: 24px;
    font-weight: lighter;
    margin-top: 35px;
}
.contentcard{
    text-align: center;
    padding-top: 55px;
    padding-bottom: 40px;
}
.contentcard, h3 {
    font-family: 'Prata', serif;
    font-size: 18px;
    color: rgb(0, 48, 73);
}
.contentcard, p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: rgb(0, 48, 73);
}
.classcard{
    text-align: center;
    padding-top: 95px;
    padding-bottom: 80px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 9% 82% 9%;
    grid-template-areas: "left text right";
}
.classcard, h3 {
    font-family: 'Prata', serif;
    font-size: 18px;
    color: rgb(0, 48, 73);
    grid-area: text;
}
.classcard, p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: rgb(0, 48, 73);
    grid-area: text;
    text-align: center;
}
.left{
    text-align: center;
    padding-top: 13.76px;
    grid-area: left;
}
.right{
    text-align: center;
    padding-top: 13.76px;
    grid-area: right;
}
.classcard1{
    background-color: white;
    grid-area: classcard1;
    margin-bottom: 50px;
    color: rgb(0, 48, 73);
    box-shadow: 0px 4px 9px -4px black;
    text-align: center;
    display: block;
}
.classcard2{
    background-color: white;
    grid-area: classcard1;
    margin-bottom: 50px;
    color: rgb(0, 48, 73);
    box-shadow: 0px 4px 9px -4px black;
    text-align: center;
    display: none;
}
.classcard3{
    background-color: white;
    grid-area: classcard1;
    margin-bottom: 50px;
    color: rgb(0, 48, 73);
    box-shadow: 0px 4px 9px -4px black;
    text-align: center;
    display: none;
}
.classcard4{
    background-color: white;
    grid-area: classcard1;
    margin-bottom: 50px;
    color: rgb(0, 48, 73);
    box-shadow: 0px 4px 9px -4px black;
    text-align: center;
    display: none;
}
.classcard5{
    background-color: white;
    grid-area: classcard1;
    margin-bottom: 50px;
    color: rgb(0, 48, 73);
    box-shadow: 0px 4px 9px -4px black;
    text-align: center;
    display: none;
}
.classcard6{
    background-color: white;
    grid-area: classcard1;
    margin-bottom: 50px;
    color: rgb(0, 48, 73);
    box-shadow: 0px 4px 9px -4px black;
    text-align: center;
    display: none;
}
.questioncard{
    background-color: white;
    grid-area: questions;
    margin-bottom: 50px;
    color: rgb(0, 48, 73);
    box-shadow: 0px 4px 9px -4px black;
    text-align: center;
    padding-top: 0;
}
.questionimg{
    width: 78%;
    height: 70%;
    margin-left: 11%;
    margin-bottom: 40px;
}
.instacard{
    background-color: white;
    grid-area: instagram;
    margin-bottom: 50px;
    color: rgb(0, 48, 73);
    box-shadow: 0px 4px 9px -4px black;
    text-align: center;
    padding-top: 0;
}
.instagramimg{
    width: 78%;
    height: 70%;
    margin-left: 11%;
    margin-bottom: 40px;
}
form.active{
    display: block;
}
button{
    color: white;
    background-color: #6c63ff;
    width: 282px;
    height: 50px;
    border: none;
    font-family: 'Prata', serif;
    font-size: 18px;
    box-shadow: 0px 4px 9px -4px black;
    margin-top: 35px;
    margin-bottom: 30px;
}
li, a:link{
    color: #ffffff;
}
.signup{
    grid-area: signup;
    background-color: #ffffff;
    margin-bottom: 50px;
    padding: 0;
    color: rgb(0, 48, 73);
    box-shadow: 0px 4px 9px -4px black;
    width: 150px;
}
.signupindesign{    
    grid-area: signup;
    text-align: center;
    display: block;
    margin-top: 18px;
    color: rgb(0, 48, 73);
}
.form{
    display: none;
    width: 500px;
    padding: 10px;
    text-align: center;
    background: rgba(234,226,183,255);
    position: fixed;
    top:2%;
    bottom: 2%;
    left:32%;
    z-index: 3;
}
label{
    background-color: #ffffff;
    width: 200px;
    color: rgb(0, 48, 73);
    margin-bottom: 30px;
    margin-top: 100px;
}
input{
    width: 80%;
    height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.backdrop{
    display: none;
    position: fixed;
    top:0%;
    bottom: 0%;
    left:0%;
    right: 0%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.411);
}